@font-face {
  font-family: highriseLight;
  src: url(fonts/highrise_light.otf);
}
@font-face {
  font-family: louis;
  src: url(fonts/louisGeorgeLight.ttf);
}
h1 {
  font-family: highriseLight;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
p {
  font-family: louis;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  top: 100px;
  background-color: white;
  transition: ease-in-out 0.3s;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  /* box-shadow: 5px 0 0px navy; */
}
.sidebar:hover {
  width: 200px;
}
.sidebar:hover > .item > .text {
  opacity: 1;
}
.hrSideBar {
  height: 2px;
  background-color: black;
  border-color: black;
  border-width: 0;
  margin: 15px 0;
}
.item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 10px;
  cursor: pointer;
  background-image:
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent 90%,
      navy 90%,
      navy 100%
    );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}
.item:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
.icon {
  width: 40px;
  height: 35px;
  flex-shrink: 0;
  padding-right: 10px;
  color: black;
}
.text {
  color: black;
  opacity: 0;
  transition: ease-in-out 0.3s;
  transition-delay: .2s;
  margin-left: 5px;
  white-space: nowrap;
}

/* About me */
.aboutDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.about-left {
  max-width: 35%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-right {
  max-width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutHeader {
  font-size: 6rem;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  margin-top: 10rem;
}
.aboutPic {
  font-size: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutText {
  margin-top: 8rem;
  font-size: 1.4rem;
}